{{template "common/header_meta.html" .}}
<body>
<div class="main-container" style="width: 1400px; margin: 0 auto;overflow: hidden"  method="post">
  <div style="margin: 200px auto;width: 400px" >
    <h1 class="text-center">注册</h1>
    <div class="form-group">
      <label for="exampleInputEmail1">昵称</label>
      <input type="text" class="form-control"  aria-describedby="userName" id="userName" placeholder="Enter NikeName">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">邮箱</label>
      <input type="email" class="form-control"  aria-describedby="emailHelp" name="email" id="email" placeholder="Enter Email">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">手机号码</label>
      <input type="text" class="form-control" id="phone" aria-describedby="emailHelp" name="phone" placeholder="Enter Phone">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">密码</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
    <button  id="submit" class="btn btn-primary">提交</button>
  </div>
</div>
<script>
window.onload=function (ev) {
  $("#submit").click(function () {
    var url="/user/register";
    var  userName=$("#userName").val();
    var  phone=$("#phone").val();
    var  email=$("#email").val();
    var  password=$("#password").val();

    var  post={
      'userName':userName,
      "phone":phone,
      "email":email,
      'password':password
    };

    $.post(url, post,function(res) {
        if (!res.status) {
          alert(res.msg)
          console.log(res.data)
        }else {
          alert(res.msg)
          console.log(res.data)
        }
    })
   })
}
</script>
</body>
</html>
